mat-toolbar {
    position: absolute;
    top: 0;
    z-index: 99999;
}
mat-form-field {
    width:250px;
}

mat-card {
    height: 450px;
}
mat-card {
    display: flex;
    flex-direction: row;
    min-width: 500px;

}

.container {
    height: 100%;
    background-image: url('../../images/rotterdam_001.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

body > app-root > mat-sidenav-container > mat-sidenav-content > main > app-welcome {
    height: 100%;
}

.login_container {
    height: 100%;
}

.form_container {
    height: 100%;
}


@media screen and (max-width: 600px) {
    mat-card {
        /* background: red; */
      height: 100%;
      width: 300px;
      padding-top: 0;
      margin-top: 0;
      border-top: none;
    }
  }

  @media screen and (max-width: 960px) {
    mat-card {
      height: 100%;
    }

  }