@import '../../../mixins.scss';

.image_container {
  position: relative;
  button {
    position: absolute;
    bottom: -5px;
    right: 0;
  }
}


.position_rel {
  position: relative;
}

.bottom_grid {
  display: flex;
  // grid-template-columns: 1fr 1fr;
  padding-top: .5em;
  span {
    padding-left: 1em;
  }

}

.bottom_grid > div {
  padding-right: 1em;
}
.card_container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 22%));

  @include lg-tablet{
    grid-template-columns: repeat(auto-fill, minmax(200px, 30%));
  }
  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(200px, 45%));
    grid-column-gap:10px;
  }
  @include phone {
    grid-template-columns: 1fr;
    padding-left:.5em;
    padding-right: .5em;

  }
  @include xl-desktop {
    grid-template-columns: repeat(auto-fill, minmax(200px, 18%));
    grid-column-gap:10px;
  }
  grid-column-gap:1em;
  grid-row-gap: 1em;
  justify-content: space-around;
  padding-top: 1em;
}



mat-card {
    transition-property: all;
    transition-duration: .5s;
    img {
      max-height: 225px;
    }
    // min-width: 300px;
    // margin-bottom: 2em;
}

.margin_right_button {
    margin-right: .5em;

}

.blue_border {
    border: 1px solid blue;
}

.price {
    margin-bottom: 5px;
}

.hoverEffect:hover {
    transform: translateY(-10px)
}

.address {
  color: #9AA0AA;
  line-height: 20px;
}
