<div class="card_container" fxLayout="row wrap" fxLayoutAlign="space-evenly">
  <mat-card mat-elevation-z24 class="hoverEffect" *ngFor="let listing of listings | async" fxFlex="30%"
    fxFlex.lt-sm="100" fxFlex.sm="45%">
    <img mat-card-image src='{{listing.image}}'>
    <mat-card-content>
      <span class="type">{{listing.type}} </span>
      <h3 class="price">{{listing.price | currency}}</h3>
      <span class="address"> {{listing.streetAddress}} {{listing.cityZip}}</span>
      <p style="color: #9AA0AA">
        {{listing.description}}
      </p>
      <div fxLayout="row wrap">
        <span fxLayout="row" fxLayoutAlign="start center" fxFlex="33%">
          <p> {{listing.squareFt}} Sq.ft</p>
        </span>
        <span fxLayout="row" fxLayoutAlign="start center" fxFlex="33%">
            <mat-icon class="card_icon">map</mat-icon> map
        </span>
        <span  fxLayout="row" fxLayoutAlign="start center" fxFlex="33%">
          <mat-icon class="card_icon">favorite</mat-icon> 
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions style="padding-top: 0;">
      <button class="margin_right_button blue_border" (click)="editListing(listing)" mat-stroked-button
        color="primary">Edit</button>
      <button class="blue_border" [routerLink]="['/listings', listing.id]" mat-stroked-button color="primary">Read
        More</button>
    </mat-card-actions>
  </mat-card>
</div>
