<mat-nav-list>
  <a mat-list-item  routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav_icon">Sign Up</span>
  </a>
  <a mat-list-item  routerLink="/login" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav_icon">Login</span>
  </a>
  <a mat-list-item  routerLink="/listings" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav_icon">Listings</span>
  </a>
  <mat-list-item >
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav_icon">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>


