
  <app-message-count>
  </app-message-count>

<div  *ngFor="let chat of chats | async">
  <p [ngStyle]="{'text-align': 'right', 'border-right' : '2px solid blue'}" *ngIf='chat.adminMessage; else userMessage'>Admin message {{chat.message}} </p>
  <ng-template  #userMessage> 
    <p [ngStyle]="{'border-left' : '2px solid red'}">User message: {{chat.message}}</p>
  </ng-template>
</div>

<div style="margin-top:4em;">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="">
    <mat-form-field class="">
      <input matInput placeholder="Type Message" ngModel name="message">
    </mat-form-field>
    <button type="submit">send</button>
  </form>
</div>

<!-- [ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }" -->