<mat-toolbar color="primary">
  <div >
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
  </div>

  <div>
    <a routerLink="/">LOGO
    </a>
  </div>

  <div class="navPadding" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <a *ngIf="!isAuth" routerLink="/signup">Sign Up</a>
    <a *ngIf="!isAuth" routerLink="/login">Login</a>
    <a *ngIf="adminLink" routerLink="/admin">Dashboard</a>
    <a *ngIf="isAuth && !adminLink" routerLink="/listings">Listings</a>
    <a *ngIf="adminLink" routerLink="/admin/listing">Listings </a>
    <a *ngIf="adminLink" routerLink="/listings">Add Listing</a>
    <a *ngIf="isAuth" routerLink="/login" (click)="onLogout()">Log Out</a>

  </div>
</mat-toolbar>

