<mat-toolbar class="mat-elevation-z12" color="primary">
  <div fxHide.gt-sm>
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
  </div>

  <div>
    <a routerLink="/">LOGO
    </a>
  </div>

  <div class="navPadding" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <a *ngIf="!isAuth" routerLink="/signup">Sign Up</a>
    <a *ngIf="!isAuth" routerLink="/login">Login</a>
    <a *ngIf="isAuth" routerLink="/listings">Listings</a>
    <a *ngIf="isAuth" routerLink="/login" (click)="onLogout()">Log Out</a>
  </div>
</mat-toolbar>

