.dashboard_container {
    height: 100%;
    width: auto;
    background: white;
}

.side_bar {
    background-color: #f5f5f5;
    font-weight: bold;
}

.icon_padding {
    padding-right: 1em;
}

.main_container {
 padding-left: 1em;
 padding-right:1em;
}