.dashboard_container {
    height: 100%;
    width: auto;
    background: white;
}

.side_bar {
    background-color: #f5f5f5;
    font-weight: bold;
    margin-top: 64px;
}

.icon_padding {
    padding-right: 1em;
}

@media only screen and (max-width: 700px) {
    .side_nav_label {
     display: none;
    }
    .side_bar {
        max-width:50px;
    }
  }
  

 .link_admin_nav:visited {
    color:inherit;
}

.center {
    text-align: center;

}
.center:focus {
  outline: 0  !important;
}

.center:active {
    color: red;
}


// main content 

.content_container {
    margin-top: 64px;
    overflow: scroll;
}