<section fxLayout="row" class="dashboard_container">

  <!-- <div mat-elevation-22 class="side_bar" fxFlex.gt-sm="20%" fxHide.lt-sm>
    <mat-list>
    <a routerLink="/admin/users">
      <mat-list-item>
       <span> <mat-icon color="primary" class="icon_padding">people</mat-icon></span>
       <span class="side_nav_label">USERS</span>
      </mat-list-item>
    </a>
    <a routerLink="/admin/listing">
      <mat-list-item>
       <span> <mat-icon color="primary" class="icon_padding">home</mat-icon></span>
       <span class="side_nav_label">Listings</span>
      </mat-list-item>
    </a>
    <a routerLink="/admin/createListing">
      <mat-list-item>
       <span> <mat-icon color="primary" class="icon_padding">add</mat-icon></span>
       <span class="side_nav_label"> Add Listing </span>
      </mat-list-item>
    </a>
    </mat-list>
  </div> -->

  <div class="content_container" fxFlex="100">
    <router-outlet></router-outlet>
  </div>
</section>
