<div class="chats_messages" fxLayout="column">
  <div *ngFor="let chat of chats | async ">
    <div class="testing" fxLayout="column">
      <p class="userBubble" *ngIf="!chat.adminMessage; else adminMessage">
        {{ chat.message }}
      </p>
    </div>
    <ng-template #adminMessage>
      <div style="width: 100%" fxLayout="row" [ngStyle]="{ 'text-align' : 'left'}">
        <p class="adminBubble">{{chat.message}}</p>
      </div>
    </ng-template>

  </div>
</div>

<div class="chat_box">

  <div class="border_left">
    <mat-icon (click)="deleteAll()">add</mat-icon>
  </div>

  <form fxLayout="row" (ngSubmit)="onSubmit(f)" #f="ngForm" class="message_form">

  <div fxFlex="85%"  class="message_input_container">
      <input id="messageInput" class="text_input" type="textarea" placeholder="Type a message..." (ngModel)="messageValue" name="message">
  </div>

  <div fxFlex="15%" class="right_icon">
    <button type="submit">
      <mat-icon color="primary">send</mat-icon>
    </button>
  </div>

  </form>

</div>
