<div #message  [scrollTop]="message.scrollHeight" id="message_container" class="chats_messages" fxLayout="column">
  <div *ngFor="let chat of chats | async ">
    <div *ngIf="!chat.adminMessage; else adminMessage" class="testing" fxLayout="column">
      <p class="userBubble">
        {{ chat.message }}
      </p>
    </div>
    <ng-template #adminMessage>
      <div fxLayout="row" [ngStyle]="{ 'text-align' : 'left'}">
        <p class="adminBubble">{{chat.message}}</p>
      </div>
    </ng-template>

  </div>
  
</div>

    

<div class="chat_box">

  <div class="border_left">
    <mat-icon (click)="deleteAll()">add</mat-icon>
  </div>

  <form fxLayout="row" (ngSubmit)="onSubmit(f)" #f="ngForm" class="message_form">

  <div fxFlex="85%"  class="message_input_container">
      <input id="messageInput" class="text_input" type="textarea" placeholder="Type a message..." (ngModel)="messageValue" name="message">
  </div>

  <div fxFlex="15%" class="right_icon">
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
    </button>
  </div>

  </form>

</div>
