
<section class="listing_container">
  <div class="card_container" fxLayout="row wrap" fxLayoutGap="1.5em" fxLayoutAlign="">
    <mat-card *ngFor="let listing of listings | async"  fxFlex="30%" fxFlex.lt-sm="100" fxFlex.sm="100%">
        <img mat-card-image src='{{listing.image}}'>
        <mat-card-content>
          <span class="type">Retail </span>
          <h3 class="price">{{listing.price | currency}}</h3>
          <span class="address"> {{listing.streetAddress}} {{listing.cityZip}}</span>
          <p style="color: #9AA0AA">
            {{listing.description}}
          </p>
          <div fxLayout="row wrap">
            <span fxLayout="row" fxLayoutAlign="start center" fxFlex="33%">
              <p> {{listing.squareFt}} Sq.ft</p>
            </span>
            <span fxLayout="row" fxLayoutAlign="start center" fxFlex="33%">
                <mat-icon class="card_icon">map</mat-icon> map
            </span>
          </div>
        </mat-card-content>
        <mat-card-actions >
          <!-- <button class="margin_right_button blue_border" (click)="editListing(listing)" mat-stroked-button color="primary">Edit</button> -->
          <button class="blue_border" [routerLink]="['/listings', listing.id]" mat-stroked-button color="primary">Read More</button>
          <button class="blue_border margin_left" [routerLink]="['/listings', listing.id]" mat-stroked-button color="primary">Send Message</button>

        </mat-card-actions>
    </mat-card>
  </div>
</section>
