mat-card {
  margin-bottom:1em;
}



//  large screen margin for toolbar
.listing_container {
  margin-top: 64px;
  padding: 1em;
  padding-left:10%;
  padding-right: 5%;
}

.margin_right_button {
  margin-right: .5em;
  
}

.blue_border {
  border: 1px solid blue;
}

.price {
  margin-bottom: 5px;
}
// small screen margin for toolbar 
@media only screen and (max-width: 600px){
  .listing_container {
    margin-top: 56px;
    padding-top:.5em;
  }
}